/*.tab-pane {*/
/*    -fx-background-color: #3D4956;*/
/*}*/

/*.tab {*/
/*    -fx-background-color: #3D4956;*/
/*}*/

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e8e8e8;
}

.tab-pane .tab:selected
{
    -fx-background-color: #c0c0c0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #3c3c3c;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.button {
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-background-color: #5a5a5a;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -jfx-button-type: FLAT;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}
