.button {
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-background-color: #5a5a5a;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -jfx-button-type: FLAT;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}

.yandex {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #f5c400;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -jfx-button-type: FLAT;
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
}
